@import '../globals/styles/_colors';

.layout-tabs-group
{
  flex: 1 0 auto;
  border: 1px solid #a10303;
}

.layout-tab-label
{
  display: inline-block;
  flex-direction: row;
  align-items: middle;
}

.layout-tab-label-text
{
  vertical-align: middle;
}

.layout-tab-label-button
{
  border: 0;
  margin: 5px 0;
  padding: 0;
  background: lightgray;
  vertical-align: middle;
}

.layout-tab-label-icon
{
  color: red;
}

.layout-tab-content
{
  padding: 5px;
}

.layout-tab-svg
{
  margin: 5px;
  height: 400px;
  width: 1000px;
  border-style: solid;
  border-width: 1px;
  border-radius: 6px;
  border-color: $borderColor;
}

.svg-element
{
  border-color: darkslategrey;
  border-style: dotted;
  border-width: 1px;
}

.widgetGroup:hover 
{
  opacity: 0.5;
  .svg-exit{
    display: block;
  }
}
.widgetGroup 
  {
  .svg-exit{
    display: none;
    fill: red;
    stroke: red;
    stroke-width: 10; 
  }
}
.svg-exit
{
  fill: red;
  stroke: red;
  stroke-width: 10; 
}

.test{
  stroke: yellow;
  fill: "url(arrows)";
  background: black;
  stroke-width: 3;
}

.RolrStr
{
  stroke: black;
  stroke-width: 1;
  fill: azure;
}

.RolrCur
{
  stroke: black;
  stroke-width: 1;
  fill: lightgreen;
}

.BeltStr
{
  stroke: black;
  stroke-width: 1;
  fill: blueviolet;
}

.BeltCur
{
  stroke: black;
  stroke-width: 1;
  fill: lightsalmon;
}
